.base-format {
  ul {
    list-style: none;
    margin-left: 2rem;
  }

  a:link,
  a:visited {
    color: currentColor;
  }
}

.section-title {
  text-transform: uppercase;
  background-color: $color-secondary;
  padding: 1rem 0 1rem 5px;
  border-top-right-radius: 10px;

  letter-spacing: 0.3rem;
  @include print {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
