// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: Arial, sans-serif;
$font-display: Helvetica, sans-serif;
$font-formal: Arial, sans-serif;

//Border
$border-primary: 1px solid $color-primary;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@include print {
  @page {
    margin: 0;
    size: A4;
  }
}
html {
  box-sizing: border-box;
  font-size: 12px;

  @include print {
    font-size: 9px;
  }
}

body {
  font-family: $font-display;
  color: $color-grey-dark-2;
  font-weight: 400;
  line-height: 2em;
  width: 100vw;
  max-width: 297mm;
  border-top: 3vw solid $color-primary;
  border-bottom: 3vw solid $color-primary;

  @include print {
    width: 100%;
    max-width: 100%;
    height: 100vh;
  }
}

.container {
  display: grid;
  grid-template-columns: minmax(20vw, 30rem) 1fr;
  padding: 2vw;
  margin: auto;
  font-size: 1.5rem;
  @include print {
    grid-template-columns: minmax(20vw, 25rem) 1fr;
  }
  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}

.container > * {
  padding: 1rem;
}

.content > * {
  margin-bottom: 1.5rem;
  @include print {
    margin-bottom: 2rem;
  }
}
