.education {
  display: grid;
  grid-template-columns: 15rem 1fr;
  @include respond(phone) {
    grid-template-columns: 1fr;
    border-bottom: 2px solid $color-primary;
  }
  line-height: 1.5em;
  margin-bottom: 1.5em;
  @include print {
    grid-template-columns: 1fr;
    border-bottom: 2px solid $color-primary;
  }
  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  &__period {
    grid-row: 1/2;
  }

  &__institude {
    grid-column: 2/3;
    @include respond(phone) {
      grid-column: 1/2;
    }
    @include print {
      grid-column: 1/2;
    }
  }
}
