.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  min-height: 10rem;
  border-bottom: $border-primary;
  color: $color-grey-dark-1;
  letter-spacing: 0.3rem;
  display: grid;
  text-transform: uppercase;

  &__name {
    font-size: 4rem;
    align-self: end;
    font-family: $font-primary;

    @include print {
      padding-top: 5mm;
    }
  }

  &__role {
    font-size: 1.5rem;
    @include print {
      padding-top: 2mm;
    }
  }
}
