.wk-experience {
  display: grid;
  grid-template-columns: 15rem 1fr;

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }

  @include print {
    grid-template-columns: 1fr;
  }

  &:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $color-primary;
  }

  &__period,
  &__position {
    font-size: 1.1em;
    font-weight: bold;
  }

  &__period {
    grid-row: 1/3;

    @include print {
      grid-row: 1/2;
      border-bottom: 1px dashed $color-primary;
    }
    @include respond(tab-land) {
      grid-row: 1/2;
      border-bottom: 1px dashed $color-primary;
    }
  }

  &__detail {
    grid-column: 2/3;
    @include print {
      grid-column: 1/2;
    }
    @include respond(tab-land) {
      grid-column: 1/2;
    }
    & ul {
      margin-left: 1rem;
    }
  }

  &__position {
    line-height: 1.3em;

    border-bottom: 1px dashed $color-primary;
  }
}
